.container_producto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    width: fit;
    height: 588px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 19px;
    width: 328px;
    height: 249px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.titulos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 155px;
    width: 328px;
    height: 26px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.linea{
    width: 102px;
    height: 26px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #464646;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ver_todo{
    height: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #2A7AE4;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.producto_principal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 156px;
    height: 249px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.producto{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 156px;
    height: 174px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.nombre_producto{
    width: 156px;
    height: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.precio_producto{
    width: 156px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.ver_producto{
    width: 88px;
    height: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #2A7AE4;
    flex: none;
    order: 3;
    flex-grow: 0;
    text-decoration: none;
}