.editar_producto{
    display: flex;
    flex-direction: column;
}

.editar_borrar{
    display: flex;
    position: absolute;
    padding: 10px 0 0 80px;
    gap: 18px;  
}

.producto{
    display: flex;
    position: relative;
}