.información{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 16px;
    width: 100%;
    height: 556px;
    left: 0px;
    top: 434px;
    background: #EAF2FD;
    box-sizing: border-box;
}

.informacion_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 100%;
    height: 524px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.informacion_nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 100%;
    height: 260px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;    
}

.logo_informacion{
    width: 176px;
    height: 50px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 100%;
    height: 194px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.categoria{
    width: 100%;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #464646;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.contacto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 11px;
    width: 100%;
    height: 232px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;    
}

.hable_nosotros{
    width: 100%;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.textos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 9px;
    width: 100%;
    height: 154px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.nombre_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 56px;
}

.nombre{
    position: relative;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border-radius: 4px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    padding-top: 20px;
    padding-left: 5px;
    resize: none;   
    border: none;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nombre-textos{
    position: absolute;
    width: 304px;
    height: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #A2A2A2;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    padding: 2px 0 0 5px;
}

.mensaje{
    width: 100%;
    height: 82px;
    background: #FFFFFF;
    border-radius: 4px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    border: none;
    box-sizing: border-box;
    padding-left: 8px;
    padding-bottom: 45px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mensaje::placeholder{
    position: absolute;
    left: 8px;
    top: 15px;
    width: 304px;
    height: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #A2A2A2;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.boton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;
    width: 144px;
    height: 40px;
    background: #2A7AE4;
    flex: none;
    order: 2;
    flex-grow: 0;
}

#boton{
    width: 120px;
    height: 8px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    flex: none;
    flex-grow: 0;
    text-decoration: none;
}

.rodapie{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 10px;
    width: 100%;
    height: 121px;
    left: 3px;
    top: 987px;
    background: #FFFFFF;
    box-sizing: border-box;
}

.mensaje_footer{
    width: 235px;
    height: 57px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #464646;
    flex: none;
    order: 0;
    flex-grow: 0;
}

@media screen and (min-width:768px) {
    .información{
        flex-direction: row;
        padding: 32px;
        gap: 115px;
        height: 364px;
    }

    .informacion_container{
        flex-direction: row;
        align-items: flex-start;
        gap: 16px;
        width: 704px;
        height: 300px;
        flex-grow: 1;
    }

    .informacion_nosotros{
        align-items: flex-start;
        width: 254px;
        height: 300px;
    }

    .navegacion{
        align-items: flex-start;
        gap: 24px;
        height: 234px;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .contacto{
        gap: 19px;
        width: 434px;
        height: 229px;
        flex-grow: 1;
    }

    .rodapie{
        width: 768px;
        height: 102px;
        flex: none;
        order: 3;
        align-self: stretch;
        flex-grow: 0;
        top: 862px;
    }

    .mensaje_completo{
        width: 240px;
        height: 38px;
        
    }
}

@media screen and (min-width:1024px) {
    .información{
        padding: 64px;
        height: 368px;
        justify-content: space-between;
    }
    
    .informacion_container{
        position: relative;
        gap: 90px;
        height: 240px;
        flex-grow: 0;
    }

    .informacion_nosotros{
        flex-direction: row;
        justify-content: space-between;
        width: 397px;
    }

    .navegacion{
        width: 176px;
        height: 234px;
    }

    .categoria{
        width: 200px;
    }

    .contacto{
        gap: 20px;
        width: 390px;
        height: 240px;
    }

    .nombre_container{
        width: 390px;
    }

    .mensaje{
        width: 390px;
    }

    .rodapie{
        width: 100%;
        top: 817px;
    }
}